# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
env/
.venv/
venv/
ENV/

# Django
*.log
local_settings.py

# SQLite DB (do not commit)
*.sqlite3

# OS
.DS_Store
Thumbs.db
Desktop.ini

# VS Code
.vscode/
